/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
package classexercise;

//imports
import javax.swing.*;

/**
 *
 * @author 041401065
 */
public class ClassExercise {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
        //Add your name to the following string please
        JOptionPane.showMessageDialog(null, "Schyler, Gustavo");
    }
}
